*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #f9fbfd;
  background-image: url('./assets/images/sky07-contrast.webp');
  background-repeat: no-repeat;
  background-size: cover;  
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: rgba(255, 255, 255, 0.6);
}

#thin{
  font-weight:400;
}
#bold{
  font-weight: 600;
}


.card {
  background-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: white;
  font-size: 1.3rem;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header, .card-body{
  display: none;
}

#form-number-label, #form-checkbox-label{
  margin-bottom: 5px;
}
#form-number {
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: rgba(255,255,255, 0.7);
  backdrop-filter: blur(10px);
  padding: 20px;
  font-size: 16px;
}

#form-checkbox-label {
  margin-top: 15px;
}

.small-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.tickboxes {
  accent-color: hsl(360, 91%, 36%);
  margin: 5px;
}

.tickbox-text{
  font-size: 1rem;
}

#number-alert, #character-alert {
  color: red;
  backdrop-filter: blur(20px);
  padding: 5px;
  display: none;
  font-size: 12px;
  border-radius: 50px;
  background-color: rgba(255,255,255, 0.7);
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: rgba(255,255,255, 0.3);
  height: 2px;
  margin-top: 5px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: 1px solid hsl(360, 91%, 36%);;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

.btn:hover{
  background-color: transparent;
  backdrop-filter: blur(5px);
  border: 1px solid white;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline-color: white;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.7rem;
  font-weight: 800;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  background-color: transparent;
  color: white;
}

@media (max-width: 690px) {
  body {
    background-size: auto;
    background-position: center;
  }
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
